.store-container {
    display: flex;
    justify-content: space-between;    
}

.cart-container {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    width: 30vw;
    background-color: #f2f3ca;
    border-left: solid 1px black;
}

h1 {
    font-size: 2rem;
    margin: 1.5rem;
}

