.product-card {
    margin: 1.5rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 1rem;
    border-radius: 0.5rem;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    background-color: #fff;
}

.product-card__image {
    height: 4rem;
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
}